artifacts
bin
obj

*.suo
*.user

/src/packages/*
!/src/packages/NuGet.CommandLine.*
/src/packages/NuGet.CommandLine.*/*
/src/packages/NuGet.CommandLine.*/*.*
!/src/packages/NuGet.CommandLine.*/tools
/src/packages/NuGet.CommandLine.*/tools/*
/src/packages/NuGet.CommandLine.*/tools/*.*
!/src/packages/NuGet.CommandLine.*/tools/NuGet.exe

*.sln.ide