bin
obj

*.suo
*.user

/src/packages/*

!/src/packages/StyleCop.MSBuild.*
/src/packages/StyleCop.MSBuild.*/*
/src/packages/StyleCop.MSBuild.*/*.*
!/src/packages/StyleCop.MSBuild.*/tools
/src/packages/StyleCop.MSBuild.*/tools/*
/src/packages/StyleCop.MSBuild.*/tools/*.*
!/src/packages/StyleCop.MSBuild.*/tools/StyleCop.Targets

!/src/packages/NuGet.CommandLine.*
/src/packages/NuGet.CommandLine.*/*
/src/packages/NuGet.CommandLine.*/*.*
!/src/packages/NuGet.CommandLine.*/tools
/src/packages/NuGet.CommandLine.*/tools/*
/src/packages/NuGet.CommandLine.*/tools/*.*
!/src/packages/NuGet.CommandLine.*/tools/NuGet.exe

*.sln.ide